<div class="col-md-8">

    <highchart id="chart1" config="chartConfig1"></highchart>

        <h1>Gráfico (Gastos)</h1>
        <ul>
            <li>Ultimos 30 dias de gastos</li>
            <li>Desejavel: em um intervalo de datas</li>
        </ul>

</div>

<div class="col-md-8">

    <highchart id="chart2" config="chartConfig2"></highchart>
    <h1>Gráfico (Recebimentos)</h1>
    <ul>
        <li>Ultimos 30 dias de receitas</li>
        <li>Desejavel: em um intervalo de datas</li>
    </ul>
</div>